<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <style>
       header{
         border-bottom: 1px solid gray;
         padding: 20px;
       }
       nav{
         border-right: 1px solid gray;
         width: 200px;
         float: left;
         border-style: hidden;
       }
       article{
         float: left;
         padding-left: 20px;
         border-left: 1px solid gray;
       }
     </style>
</head>
<body>
	<header>
    <h1>
      <a href="http://localhost:8000/">LUNGNAHA</a>
    </h1>	
  </header>
  
	<nav>
        <ul>
          <li><a href="one.html">김HD</a></li>
          <li><a href="two.html">한국외국어대학교</a></li>
          <li><a href="three.html">기아타이거즈</a></li>
          <li><a href="/writeinfo.html">게시판</a></li>
          <li><a href="/result.html">목록으로...</a></li>
        </ul>
    </nav>
    <article>
      저의 비밀스러운 사이트에 오신 걸 환영합니다 ^^
      <input type="button" onclick="location.href ='login.html'" value="로그인">
      <input type="button" onclick="location.href='signup.html'" value="회원가입">
      <form action ="{% url 'logout' %}">
        <input type="button"  value="로그아웃">
      </form>
    </article>
  
</body>
</html>