<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <style>
       header{
         border-bottom: 1px solid gray;
         padding: 20px;
       }
       nav{
         border-right: 1px solid gray;
         width: 200px;
         float: left;
         border-style: hidden;
       }
       article{
         float: left;
         padding-left: 20px;
         border-left: 1px solid gray;
       }
     </style>
</head>
<body>
	<header>
    <h1>
      <a href="http://localhost:8000/">LUNGNAHA</a>
    </h1>	
  </header>
  <script>
    function sign_del(){
      alert("쓸데 없는 정보가 버려졌습니다!!");
    }
    function sign_change(){
      alert("정보 변경을 위해 이동하겠습니다!!");
    }
  </script>
  
	<nav>
        <ul>
          <li><a href="one.html">김HD</a></li>
          <li><a href="two.html">한국외국어대학교</a></li>
          <li><a href="three.html">기아타이거즈</a></li>
          <li><a href="writeinfo.html">게시판</a></li>
          <li><a href="/result.html">목록으로...</a></li>
        </ul>
    </nav>

    {% if user.is_authenticated %}
      <form action="{% url 'deleteinfo' %}" method="post">
        <input type="submit" onclick="sign_del()" value="쓸데 없는 정보 버리기"/>
        <input type="hidden" name="id" value="{{detail.id}}"/>
      </form>
      <form action="{% url 'changedata' %}" method="post" >
        <input type="submit" onclick="sign_change()" value="잘못된 정보 수정하기"/>
        <input type="hidden" name="id" value="{{detail.id}}"/>
      </form>
    {% else %}
      <script type="text/javascript">
        alert("해당 정보는 열람만 가능합니다. 수정 및 삭제는 렁나하만 가능합니다 ^^");
      </script>
    {% endif %}
    <article>
         <p>제목 : {{detail.title}}</p>
         <br>
         <br>
         <p>내용 : {{detail.information}}</p>
         {% if detail.mainphoto %}
          <p>
            관련 자료 : <img src="{{ detail.mainphoto.url }}" alt="{{ detail.mainphoto }}">
          </p>

         {% endif %}
         <!-- 라이브리 시티 설치 코드 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC81MjY5MC8yOTE2Nw==">
	<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
<noscript> 라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
</div>
<!-- 시티 설치 코드 끝 -->
          
    </article>
</body>
</html>