<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <style>
       header{
         border-bottom: 1px solid gray;
         padding: 20px;
       }
       nav{
         border-right: 1px solid gray;
         width: 200px;
         float: left;
         border-style: hidden;
       }
       article{
         float: left;
         padding-left: 20px;
         border-left: 1px solid gray;
       }
     </style>
</head>
<body>
	<header>
    <h1>
      <a href="http://localhost:8000/">LUNGNAHA</a>
    </h1>	
  </header>
    <script type="text/javascript">
        function msg(){
            alert("렁나하 잘가~~~");
        }
    </script>
	<nav>
        <ul>
          <li><a href="one.html">렁나하 소개</a></li>
          <li><a href="two.html">업데이트 중</a></li>
          <li><a href="three.html">정보 입력</a></li>
          <li><a href="/writeinfo.html">업데이트 중</a></li>
          <li><a href="/result.html">목록으로...</a></li>
        </ul>
    </nav>
    <article>
      <div class="container">
          <h1>정말 이 권한을 버리겠는가?</h1>
          <form method="POST" action ="{% url 'logout' %}">
              {% csrf_token %}
              <br><br>
              <input type="submit" class="btn btn-primary" onclick="msg()" value="떠나기">
          </form>
      </div>
    </article>
  
</body>
</html>