<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <style>
       header{
         border-bottom: 1px solid gray;
         padding: 20px;
       }
       nav{
         border-right: 1px solid gray;
         width: 200px;
         float: left;
         border-style: hidden;
       }
       article{
         float: left;
         padding-left: 20px;
         border-left: 1px solid gray;
       }
     </style>
</head>
<body>
	<header>
		<h1>
            LUNGNAHA
        </h1>
	</header>
	<nav>
        <ul>
          <li><a href="http://localhost/one.html">김HD</a></li>
          <li><a href="http://localhost/two.html">한국외국어대학교</a></li>
          <li><a href="http://localhost/three.html">기아타이거즈</a></li>
          <li><a href="http://localhost/writeinfo.html">게시판</a></li>
        </ul>
    </nav>
    <article>
          <h2>한국외국어대학교에 재학 중이며 이제 3학년입니다.</h2>
          <ul>
               <li>서울보라매초등학교</li>
               <li>성남중학교</li>
               <li>성남고등학교</li>
          </ul>
    </article>
</body>
</html>